/*TABLET */

@media (max-width: 980px) {

    .menu {
        display: none;
    }

    .descricao-sobre {
        display: flex;
        flex-direction: column;
        padding: 20px 0px;
    }
 
    .container-sobre {
        display: grid;
        grid-template-rows: 225px 1fr;
        justify-content: center;
    }

    .container-historia {
        grid-template-rows: 80px 250px 1fr;
    }

    .parceria {
        height: 1500px;
    }

    .container-parceria {
        height: auto;
        grid-template-rows: 15% 65%;;
    }

    .descricao-onda {
        gap: 25px;
    }

    .descricao-parceria {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;    
    }

    
    footer {
        flex-direction: column;
        height: 300px;
        padding: 25px 0px;
        gap: 20px;
    }

}