.form-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 390px;
  margin-top: -30vh;
  /* margin-left: 70vh; */
  transform: translate(11cm, -1.9cm);
}

.form-image img{
    height: 170px;
    width: 170px;
}

.form-image input {
    border: 2px solid #f0f0f0;
    display: block;
    border-radius: 50px;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    height: 50px;
    width: 260px;
    padding: 16px;
}

.form-image button{
    background-color: rgba(89, 186, 73, 0.7);
    border: none;
    height: 60px;
    width: 130px;
    font-weight: bold;
    font-size: 1rem;
    color: white;
}

/**********    Form Esquerdo      ************/


.form-control {
    display: flex;
    flex-direction: column;
    position: relative;
}

.form-control label{
    font-size: 1.4rem;
    padding: 10px 10px;
}

.form-control small{
    padding: 5px 10px;
    visibility: hidden;

}

.form-control input{
    border-radius: 50px;
    border: none;
    font-size: 1rem;
    width: 364px;
    height: 50px;
    padding: 15px;
}

.form-control i {
    gap: 20px;
    position: absolute;
    top: 62px;
    right: 0px;
    /* background-color: red; */
    visibility: hidden;
}

 /* Error and Success */
 .form-control.success input {
    border-color: #2ecc71;
  }
  
  .form-control.error input {
    border-color: #e74c3c;
  }
  
  .form-control.success i.fa-check-circle {
    color: #2ecc71;
    visibility: visible;
  }
  
  .form-control.error i.fa-exclamation-circle {
    color: #e74c3c;
    visibility: visible;
  }
  
  .form-control.error small {
    visibility: visible;
    color: #e74c3c;
  }