footer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-top: 2px solid #fff;
    background-color: rgba(15, 26, 8, 1);
    color: white;
    padding: 90px;
}

.container-contato {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.contato {
    display: flex;
    font-size: 1rem;
    gap: 24px;
}

.container-social {
    display: flex;
    gap: 20px;
}

.social {
    display: flex;
    height: 40px;
    width: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid #fff;
    font-size: 1.2rem;
    transition: all 300ms ease-in-out;
    cursor: pointer;

}
.social:hover {
    background-color: white;
    border: white;
    color: rgba(121, 216, 101, 1);
    transform: scale(1.3);
}