* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}

a:-webkit-any-link {
    color: white;
    cursor: pointer;
    text-decoration: none;
}

body {
    display: grid;
    grid-template-rows: 15% 85%;
    height: 100vh;
    background-image: url(/img/image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    font-family: 'Ubuntu', sans-serif;
}

html::-webkit-scrollbar {
    width: 10px;
}
html::-webkit-scrollbar-track{
    box-shadow: inset 0 0 10px white
}
html::-webkit-scrollbar-thumb {
    background-color: rgb(125, 125, 125);
    border-radius: 50px;
}


header {
    display: flex;
    max-width: 100%;
    padding: 0px 70px;
    align-items: center;
    justify-content: space-between;
}


.logo{
    height: 75px;
    width: 95px;
}

.menu {
    display: flex;
    font-size: 1.7rem;
    gap: 65px;
    cursor: pointer;
}

.menu :hover {
    color: rgba(153, 245, 130, 1);
}

.administrador {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.sair {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.8rem;
    cursor: pointer;
}

.sair :hover {
    color: rgba(153, 245, 130, 1);
}


main  {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 90px;
}

.box {
    display: grid;
    grid-template-rows: 100px 100px 1fr;
    height: 580px;
    width: 828px;
    background-color: rgba(217, 217, 217, 0.2);
}

.box-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.5rem;
    max-width: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    color: white;
    border-bottom: 1px solid rgba(153, 245, 130, 1);
    cursor: pointer;
}

.box-header :hover {
    color: rgba(153, 245, 130, 1);
}

.box-sub-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.5rem;
    max-width: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    color: rgba(153, 245, 130, 1);
}

.box-main {
    display: flex;
    flex-direction: column;
    padding: 25px;
    gap: 35px;
    max-width: 100%;
    color: white;
    overflow-y: auto;
}

.box-main::-webkit-scrollbar {
    width: 10px;
}
.box-main::-webkit-scrollbar-track{
    box-shadow: inset 0 0 10px white
}
.box-main::-webkit-scrollbar-thumb {
    background-color: rgba(153, 245, 130, 1);;
    border-radius: 50px;
}

.funcionario {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.informacoes{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;


}

.linha {
    display: flex;
    height: 2px;
    width: 90%;
    background-color: rgba(252, 252, 252, 0.2);
}